<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %>

<body>
<%- include("partials/nav") %>
<h1>Updating Quote</h1>

<form action="/updateQuote" method="POST">
    <input type="hidden" name="quoteId" value="<%= quoteInfo[0].quoteId %>">

    Quote:
    <textarea name="quote"><%= quoteInfo[0].quote %></textarea><br>

    Category:
    <select name="category">
        <option value="<%= quoteInfo[0].category %>" selected>
            <%= quoteInfo[0].category %>
        </option>
    </select>
    <br>

    Author:
    <select name="authorId">
        <% authorList.forEach(a => { %>
            <option value="<%= a.authorId %>"
                <%= quoteInfo[0].authorId == a.authorId ? "selected" : "" %>>
                <%= a.firstName %> <%= a.lastName %>
            </option>
        <% }) %>
    </select>
    <br>
    <button>Update Quote!</button>
    <% if (typeof success !== "undefined") { %>
    <div><%= success %></div>
    <% } %>
</form>
<%- include("partials/footer") %>
</body>
</html>